.top_bar {
    background: #fff;
    border-bottom: 1px solid #eaeaea;

    .flex.container {
        height: 60px;
    }

    .header-right {
        flex-grow: 8;

        &>ul {
            text-align: right;
            margin-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            &>li {
                display: inline-block;
                margin-left: 25px;
                position: relative;

                &>a {
                    height: 50px;
                    line-height: 50px;

                    &>i {
                        margin-left: 3px;
                    }
                }

                strong {
                    font-weight: 500;
                }

                &:hover {
                    .sub-menu {
                        display: block;
                    }
                }

                &.ty-gia {
                    border-right: 1px solid rgba(225, 225, 225, 0.6);
                    padding: 7px 25px 0 0;

                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }

            .user-name {
                .lk-user-name {
                    display: inline-block;
                }
            }

            .menu-bar {
                display: inline-block;

                &.active {
                    .sub-menu {
                        display: block
                    }
                }
            }
        }

        .sub-menu {
            width: 200px;
            display: none;
            position: absolute;
            right: 0;
            top: 44px;
            z-index: 4;
            background: #fff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

            li {
                display: block;

                a {
                    padding: 12px;
                    display: block;
                    width: 100%;
                    font-size: 13px;
                    line-height: 1.2;
                    text-align: left;
                    text-decoration: none;

                    i {
                        margin-right: 6px;
                    }

                    &:hover,
                    &.active {
                        background-color: #E1E1E1;
                    }
                }
            }
        }

    }

    @media (max-width: 767px) {
        position: sticky;
        top: 0;
        z-index: 98;

        .all-menu-tablet {
            display: block;
        }
    }

    @media (max-width: 420px) {
        .flex.container {
            height: 48px;
        }

        .header-right {
            &>ul {
                li {
                    margin-left: 15px;
                }

                .setting {
                    strong {
                        display: none;
                    }
                }
            }
        }
    }


    @media (max-width: 340px) {
        .logo {
            width: 100px;
        }

        .header-right {
            &>ul {
                li {
                    margin-left: 10px;
                }
            }
        }

        .setting {
            .sub-menu {
                left: 0;
            }
        }

    }

}

.all-menu-tablet {
    float: left;
    width: 40px;
    height: 33px;
    text-align: center;
    margin-left: -10px;
    margin-top: -10px;
    cursor: pointer;
    display: none;

    .hamburger {
        width: 20px;
        height: 2px;
        background: #333;
        display: inline-block;
        position: relative;

        &:before,
        &:after {
            content: '';
            width: 20px;
            height: 2px;
            background: #333;
            position: absolute;
            left: 0;
        }

        &:before {
            top: 6px;
        }

        &:after {
            top: 12px;
        }
    }

    &.close-menu-tablet {
        padding-top: 5px;

        .hamburger {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);

            &:before {
                display: none;
            }

            &:after {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                top: 0;
            }
        }
    }

}

.mask-content {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 92;
    background: rgba(0, 0, 0, 0.3);
}

.head-top {
    background: var(--color-main);

    .flex {
        justify-content: space-between;
        align-items: center;
    }

    .header-tab {
        margin-bottom: 0;

        ul {
            margin-bottom: 0;

            li {
                display: inline-block;
                position: relative;

                a {
                    line-height: 44px;
                    display: block;
                    padding: 0 20px;
                    color: #fff;
                    border-right: 1px solid rgba(225, 225, 225, 0.6);

                    i {
                        margin-right: 5px;
                    }

                    &.active,
                    &:hover {
                        background: var(--color-main2);
                        border-bottom: 0;
                    }
                }

                &:hover,
                &:active {
                    .lever2 {
                        display: block;
                    }
                }
            }

            .lever2 {
                position: absolute;
                min-width: 250px;
                z-index: 3;
                background: var(--color-main);
                display: none;

                li {
                    display: block;

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .notifi {
        color: #fff;
        position: relative;
        font-size: 13px;
        height: 44px;
        line-height: 44px;

        i {
            margin-right: 5px;
            font-size: 15px;
        }

        .coutn {
            background: #FF0000;
            font-size: 12px;
            width: 16px;
            position: absolute;
            text-align: center;
            border-radius: 50%;
            height: 16px;
            line-height: 16px;
            left: 10px;
            top: -8px;
        }
    }

    .wrap-notifi {
        font-size: 13px;
        position: relative;

        .list {
            background: #fff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            position: absolute;
            width: 300px;
            right: 0;
            top: 44px;
            border-radius: 2px;
            z-index: 2;
            display: none;

            .note {
                color: var(--gray100);
                padding: 6px;
                text-align: center;
                display: block;
                border-bottom: 1px solid var(--gray50);
                font-size: 12px;
            }

            ul {
                margin: 0;
                padding: 0 1px;

                li {
                    padding: 8px 16px;
                    border-bottom: 1px solid var(--gray50);

                    &.active,
                    &:hover {
                        background: var(--gray500);
                    }
                }
            }

            .view-all {
                text-align: center;
                display: block;
                background: var(--gray200);
                padding: 6px;
            }
        }

        &:hover {
            .list {
                display: block;
            }
        }
    }

    @media (max-width: 767px) {
        display: block;
        position: fixed;
        z-index: 998;
        width: 300px;
        background: #fff;
        left: 0;
        top: 50px;
        bottom: 0;
        -webkit-transform: translate(-110%, 0);
        -ms-transform: translate(-110%, 0);
        transform: translate(-110%, 0);
        -webkit-transition: all .3s;
        transition: all .3s;
        text-align: left;
        padding-left: 0;

        &.show-all-menu {
            transform: translate(0);
        }

        .container {
            padding: 0;
        }

        .header-tab {
            display: block;
            overflow: hidden;
            width: 100%;

            ul {
                display: block;
                width: 100%;

                li {
                    display: block;
                    border-bottom: 1px solid rgba(204, 204, 204, 0.57);

                    a {
                        line-height: 40px;
                        display: block;
                        font-size: 15px;
                        color: #333;

                        &.active {
                            color: #fff;
                            font-weight: 500;
                        }
                    }

                    &:hover,
                    &:active {
                        .lever2 {
                            position: static;
                            background: #fff;

                            li {
                                padding-left: 15px;

                                &:last-child {
                                    border-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .wrap-notifi {
            position: absolute;
            top: -47px;
            right: 15px;
            display: none;
        }

        .notifi {
            color: #222;

            .coutn {
                display: inline-block;
            }

            span {
                display: none;
            }
        }

    }
}