/**
iconfont Webfont
*/
@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot?1644484620781');
	src: url('iconfont.eot?#iefix-1644484620781') format('embedded-opentype'),
		url('iconfont.woff2?1644484620781') format('woff2'),
		url('iconfont.woff?1644484620781') format('woff'),
		url('iconfont.ttf?1644484620781') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='iconfont-']:before,
[class*=' iconfont-']:before {
	font-family: 'iconfont';
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	font-weight: normal;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	font-size: inherit;
	text-transform: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/
 .iconfont-address:before {
			content: '\ea01';
		}

		 .iconfont-box:before {
			content: '\ea02';
		}

		 .iconfont-compass:before {
			content: '\ea03';
		}

		 .iconfont-crawl:before {
			content: '\ea04';
		}

		 .iconfont-elite:before {
			content: '\ea05';
		}

		 .iconfont-face:before {
			content: '\ea06';
		}

		 .iconfont-hair:before {
			content: '\ea07';
		}

		 .iconfont-hair2:before {
			content: '\ea08';
		}

		 .iconfont-history:before {
			content: '\ea09';
		}

		 .iconfont-mail:before {
			content: '\ea0a';
		}

		 .iconfont-map:before {
			content: '\ea0b';
		}

		 .iconfont-payment:before {
			content: '\ea0c';
		}

		 .iconfont-plane:before {
			content: '\ea0d';
		}

		 .iconfont-quick-sale:before {
			content: '\ea0e';
		}

		 .iconfont-search:before {
			content: '\ea0f';
		}

		 .iconfont-send:before {
			content: '\ea10';
		}

		 .iconfont-setting:before {
			content: '\ea11';
		}

		 .iconfont-shipped:before {
			content: '\ea12';
		}

		 .iconfont-smartphone:before {
			content: '\ea13';
		}

		 .iconfont-twiter:before {
			content: '\ea14';
		}

		 .iconfont-user:before {
			content: '\ea15';
		}

		 .iconfont-vector:before {
			content: '\ea16';
		}

		 .iconfont-web-crawler:before {
			content: '\ea17';
		}

		